html {
	box-sizing: border-box;
}

body {
	margin: 0;

	font-family: Cuprum, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	
	color: #000000;

	background-color: #ffffff;	
}

a {
	text-decoration: none;
}

.main-header {
		background-color: #f2f6f8;
}

.header-logo {
	background-color: #ee3643;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);	
}

.user-navigation {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.user-navigation input {
	border: none;
	background-color: #293449;
}
.user-navigation p:hover,
.main-header-search:hover,
.user-navigation p:focus,
.main-header-search:focus {
	background-color: #212a3a;
}

.user-navigation-list {
	list-style: none;
}

.user-navigation-list a {
	color: #ffffff;
}

.navigation-bookmarks:hover,
.navigation-cart:hover,
.navigation-bookmarks:focus,
.navigation-cart:focus {
	background-color: #212a3a;
}

.navigation-bookmarks:active,
.navigation-cart:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.navigation-checkout {
	background-color: #63a63e;
}

.navigation-checkout:hover,
.navigation-checkout:focus {
	background-color: #5fbb2d;
} 

.navigation-checkout:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
}

.index-columns {
	background-color: #f2f6f8;
} 

.main-header h1 {
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	font-style: italic;
	color: #ee3643;
}

.header-phone {
  border: 3px solid #ffffff; 
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;

}

.header-adres {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login {
	list-style: none;
}

.login a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.login a:hover,
.login a:focus {
	color: #ee3643;
}

.login a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
	background-color: #32425c;
  box-shadow: inset 0px -5px 0px 0px rgb(41, 52, 73);
}

.site-navigation {
	list-style: none;
}
.site-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus {
	background-color: #293449;
}

.site-navigation a:active {
	background-color: #293449;
	color: rgba(255, 255, 255, 0.5);	
}

/*------------------------------------------------------------------------*/
.catalog-list {
	list-style: none;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.catalog-item {
	text-align: center;
}

.catalog-item:hover,
.catalog-item:focus {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 20px;
}

.old-price {
	font-size: 17px;
	color: #a9a9a9;
	text-decoration: line-through;
}

.new-price {
	background-color: #ee3643;
	color: #ffffff;
}
/*------------------------------------------------------------------------------*/

.about-us h2,
.contacts h2 {
	font-size: 30px;
	line-height: 30px;
}

.delivery-company-list {
	list-style: none;

	font-size: 18px;
	line-height: 20px;
}

.button {
  font: inherit;
  font-size: 14px;
  line-height: 18px; 

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #ee3643;
  border: none; 
}

.button:hover,
.button:focus {
	background-color: #ca2c37;
}
.button:active {
	background-color: #ba2732;
}

.button-buy {
	font-family: Cuprum, Aria, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	background-color: #63a63e;
}

.button-buy:hover,
.button-buy:focus {
	background-color: #5fbb2d;
}

.button-buy:active {
	background-color: #518534;
}

.button-bookmarks {
	font-family: Cuprum, Aria, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #32425c;
	background-color: #ffffff;
	border: 3px solid #63a63e;
}

.button-bookmarks:hover,
.button-bookmarks:focus {
	background-color: #ffffff;
	border-color: #32425c;
}

.button-bookmarks:active {
	border-color: rgba(50, 66, 92, 0.3);
	color: rgba(50, 66, 92, 0.3);
}
/*-------------------------------------------------------------------------*/
.main-footer {
	background-color: #32425c;
}

.main-footer-logo {
	background-color: #ee3643;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);	
}

.main-footer p {
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
}

.footer-navigation ul {
	list-style: none;
}

.site-footer-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

.site-footer-navigation a:hover {
	text-decoration: underline;
}

.site-footer-navigation a:active {
	text-decoration: none;
	color: rgba(241, 245, 247, 0.5);;
}

.materials-footer-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffd180;
}

.materials-footer-navigation a:hover,
.materials-footer-navigation a:focus {
	text-decoration: underline;
}

.materials-footer-navigation a:active {
	text-decoration: none;
	color: rgba(255, 209, 128, 0.5);
}

.info {
	background-color: #293449;
}

.info p {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
	color: #ffffff;
}

.feedback a,
.footer-copyright a {
	color: #ffd180;
}

.feedback a:hover,
.footer-copyright a:hover,
.feedback a:focus,
.footer-copyright a:focus {
	text-decoration: underline;
}

.feedback a:active,
.footer-copyright a:active {
	text-decoration: none;
	color: #ee3643;
}

/*--------------------------------------------------------------------------------*/
.modal{
	display:none;
}
/*--------------------------------------------------------------------------------*/
.headline {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.my-profile {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
	background-color: #ffffff;
}

.my-profile:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-account-navigation {
	list-style: none;
}

.user-account-navigation a {
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-account-navigation a:hover,
.user-account-navigation a:focus {
	color:#ee3643;
}

.user-account-navigation a:active {
	color: rgba(50, 66, 92, 0.3);
}
/*-------------------------------------------------------------------------------*/
.breadcrumbs {
	list-style: none;
}

.breadcrumbs li {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs a {
  color: #000000;
}

.container h1 {
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	text-transform: uppercase;
	color: #32425c;
	background-color: #f2f6f8;
}

.filters fieldset {
  border: none;
}

.filters legend {
	font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-option {
  list-style: none;
  line-height: 18px;
}
.filter-option label {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
}

.filter-input:hover,
.filter-input:focus {
  color: #b5b5b5;
}

.filter-input:disabled + label {
  color: rgba(0, 0, 0, 0.4);









