body {
	margin: 0;

	font-family: Cuprum, Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	c
	color: #000000;

	background-color: #ffffff;	
}

a {
	text-decoration: none;
}

.header-logo {
	background-color: #ee3643;
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.24);	
}

.user-navigation {
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;

	background-color: #293449;
}

.user-navigation input {
	border: none;
	background-color: #293449;
}
.user-navigation p:hover,
.main-header-search:hover,
.user-navigation p:focus,
.main-header-search:focus {
	background-color: #212a3a;
}

.user-navigation-list {
	list-style: none;
}

.user-navigation-list a {
	color: #ffffff;
}

.navigation-bookmarks:hover,
.navigation-cart:hover,
.navigation-bookmarks:focus,
.navigation-cart:focus {
	background-color: #212a3a;
}

.navigation-bookmarks:active,
.navigation-cart:active {
	color: rgba(255, 255, 255, 0.6);
	background-color: #161d29;
}

.navigation-checkout {
	background-color: #63a63e;
}

.navigation-checkout:hover,
.navigation-checkout:focus {
	background-color: #5fbb2d;
} 

.navigation-checkout:active {
	color: rgba(255, 255, 255, 0.5);
	background-color: #518534;
} 

.main-header h1 {
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;

}

.header-phone {
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
}

.header-adres {
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}

.login {
	list-style: none;
}

.login a {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.login a:hover,
.login a:focus {
	color: #ee3643;
}

.login a:active {
	color: rgba(0, 0, 0, 0.3);
}

.main-navigation {
	background-color: #32425c;
/*тень*/
}

.site-navigation {
	list-style: none;
}
.site-navigation a {
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
}

/*------------------------------------------------------------------------*/
.catalog-list {
	list-style: none;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.catalog-item {
	text-align: center;
}

.catalog-item h3 {
	font-size: 18px;
	line-height: 20px;
}

.old-price {
	font-size: 17px;
	color: #a9a9a9;
	text-decoration: line-through;
}












